.projects div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projects div img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  border-radius: 30px;
}
.projects div .hover {
  position: absolute;
  top: 0;
  width: 94.5%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}
.projects div .hover h3 {
  color: var(--bs-white);
}
.projects div .hover p {
  color: var(--bs-white);
}
.projects div:hover .hover {
  opacity: 1;
  visibility: visible;
}

.website {
  margin-left: 5px;
}

.repository {
  margin-left: 5px;
}
.btn {
  border-radius: 30px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

@media screen and (max-width: 340px) {
  .projects div .hover h3 {
    font-size: 0.8rem;
  }
  .projects div .hover p {
    font-size: 0.5rem;
  }
  .btn {
    font-size: 0.5rem !important;
    max-width: 100px !important;
  }
}

@media (max-width: 768px) {
  .projects {
    --bs-gutter-x: 0 !important;
  }
  .projects div .hover {
    width: 100%;
  }
}
